.texto {
    width: 100%;
    color: #000000;
    padding-left: 15px;
    font-family: 'Lobster';
}
    


.page-header {
    background-color: #C25100;
    margin-top: 0;
    margin-bottom: 40px;
    padding: 20px 20px 20px 40px;
}
.title {
    color: #ffffff;
    font-family: 'Lobster';
    font-size: 36pt;
    text-decoration: none;
}
.poste {
    width: 100%;
    color: #000000;
    padding-left: 15px;
    font-family: 'Lobster';
}